* {
    border: none;
    padding: 0;
    line-height: 1;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(0, 17, 54);
    position: relative;
}

h2 {
    font-size: 1.8rem
}

p {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body .content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: max-content;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    z-index: 2;

}

header {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

header nav {
    width: 90%;
    padding: 1rem 5%;
    backdrop-filter: blur(10px);
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 3dvw;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(0.6rem, calc(0.6rem + 1dvw), 0.95rem);
    font-weight: 900;
    transition: color 0.2s;
}

header nav ul li:hover a {
    color: turquoise;
}

header h1 span {
    color: turquoise;
}

header .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 1rem;
}

header .hero p:nth-of-type(1) {
    font-size: 0.8rem;
    border-radius: 20rem;
    background-color: rgba(64, 224, 208, 0.185);
    padding: 0.3rem 0.5rem;
    border: 1px solid turquoise;
    color: turquoise;
}

header .hero h2 {
    border-right: 3px solid turquoise;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(21) forwards, blink 0.7s infinite;
}

@keyframes typing {
    to {
        width: 21ch;
    }
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}

header .hero p:nth-of-type(2) {
    color: rgb(116, 116, 116);
    text-align: center;
}

main {
    width: 80%;
    padding: 5rem 10% 7rem 10%;
    gap: 2rem;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}

main section {
    padding: 1.5rem 1.2rem;
    border: 1px solid turquoise;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.096);
}

#about {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#about h2 {
    color: turquoise;
    font-size: 1.8rem;
}

#about p {
    color: white;
    line-height: normal;
}

.side-by-side {
    display: flex;
    gap: 5dvw;
}

#skills {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 45%;
}

#skills h2 {
    color: turquoise;
    font-size: 1.8rem;
    line-height: normal;
}

#skills ul {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    padding-left: 1rem;
}

#skills ul li::marker {
    color: turquoise;
}

#goals {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 45%;
}

#goals h2 {
    color: turquoise;
    font-size: 1.8rem;
    line-height: normal;
}

#goals p {
    color: white;
    line-height: normal;
}

#contact {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

#contact h2 {
    color: turquoise;
    font-size: 1.8rem;
    line-height: normal;
}

#contact p {
    color: white;
    line-height: normal;
}

#contact p a{
    color: turquoise;
}

footer {
    padding: 2rem 0;
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
    background-color: rgba(0, 0, 0, 0.288);
    display: flex;
    -webkit-backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px) {
    .side-by-side {
        flex-direction: column;
        gap: 2rem;
    }
    #skills{
        width: auto;
    }
    #goals{
        width: auto;
    }
}