@keyframes orbit {
    0% {
        transform: rotateY(0deg) rotateX(30deg);
    }

    25% {
        transform: rotateY(30deg) rotateX(0deg);
    }

    50% {
        transform: rotateY(0deg) rotateX(-30deg);
    }

    75% {
        transform: rotateY(-30deg) rotateX(0);
    }

    100% {
        transform: rotateY(0deg) rotateX(30deg);
    }
}

@keyframes rotate {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(360deg);
    }
}

@keyframes rotate2 {
    from {
        transform: rotateZ(0deg);
    }

    to {
        transform: rotateZ(-360deg);
    }
}

@keyframes hover {
    0% {
        transform: translateX(0) translateY(0);
    }

    25% {
        transform: translateX(10%) translateY(-10%);
    }

    50% {
        transform: translateX(0) translateY(0);
    }

    75% {
        transform: translateX(-10%) translateY(10%);
    }

    100% {
        transform: translateX(0) translateY(0);
    }
}
@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}
@keyframes typing {
    to {
        width: 21ch;
    }
}