body .background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url(../IMGs/BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* gap: 5rem; */
    /* animation: rotate 20s infinite ease-in-out;
    animation-direction: alternate-reverse; */
}

body .background .bubble {
    position: relative;
    width: 15rem;
    height: 15rem;
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* box-shadow: 0 0 100px 1px rgba(64, 224, 208, 0.62), inset 0 0 50px rgba(64, 224, 208, 0.62); */
    border-radius: 50%;
    animation: blobMorph 20s infinite ease-in-out, blobFloat 22s infinite ease-in-out;
    z-index: 3;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

body .background .bubble::after {
    content: '';
    position: absolute;
    bottom: -200%;
    left: 100%;
    width: 15rem;
    height: 15rem;
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* box-shadow: 0 0 100px 1px rgba(64, 224, 208, 0.62), inset 0 0 50px rgba(64, 224, 208, 0.62); */
    border-radius: 50%;
    animation: blobMorph 20s infinite ease-in-out, blobFloat 22s infinite ease-in-out;
    animation-delay: 1s;
    z-index: 2;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

body .background .bubble::before {
    content: '';
    position: absolute;
    top: -200%;
    right: 100%;
    width: 15rem;
    height: 15rem;
    /* background-color: rgba(0, 0, 0, 0.082); */
    /* box-shadow: 0 0 100px 1px rgba(64, 224, 208, 0.62), inset 0 0 50px rgba(64, 224, 208, 0.62); */
    border-radius: 50%;
    animation: blobMorph 20s infinite ease-in-out, blobFloat 22s infinite ease-in-out;
    animation-delay: 4s;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

}

body .background .bubble2 {
    animation-delay: 6s;
}

body .background .bubble2::after {
    right: 100%;
    left: 0;
    animation-delay: 0s;
}

body .background .bubble2::before {
    right: 0;
    left: 100%;
    animation-delay: 0s;
}

body .background .bubble3 {
    animation-delay: 0s;
}

body .background .bubble3::after {
    right: 0;
    left: 0;
    animation-delay: 4s;
}

body .background .bubble3::before {
    right: 0;
    left: 0;
    animation-delay: 4s;
}

@keyframes blobMorph {

    /* 0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    15% {
        border-radius: 70% 30% 90% 20% / 50% 30% 40% 50%;
    }

    30% {
        border-radius: 40% 60% 20% 90% / 60% 50% 90% 20%;
    }

    45% {
        border-radius: 70% 30% 50% 50% / 50% 70% 30% 50%;
    }

    60% {
        border-radius: 50% 50% 60% 40% / 40% 50% 60% 50%;
    }

    75% {
        border-radius: 55% 45% 65% 35% / 60% 40% 55% 45%;
    }

    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    } */
}

@keyframes blobFloat {
    0% {
        transform: translate(0, 0) scale(1);
    }

    20% {
        transform: translate(-50%, -30%) scale(1.2, 0.5) rotate(30deg);
        /* wide horizontal, flat vertical */
    }

    40% {
        transform: translate(50%, -50%) scale(0.8, 1.2) rotate(80deg);
    }

    60% {
        transform: translate(-70%, 50%) scale(1.3, 0.4) rotate(-10deg);
        /* extreme pancake */
    }

    80% {
        transform: translate(30%, -30%) scale(0.9, 1.1) rotate(-90deg);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}