body .background {
    height: 100%;
    width: 100%;
    position: fixed;
    flex-direction: column;
    z-index: 1;
    background-image: url(../IMGs/BG2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    width: 100%;
}

body .background .bubble {
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    animation: blobMorph 20s infinite ease-in-out, blobFloat 22s infinite ease-in-out;
    z-index: 5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

body .background .bubble:nth-child(1) {
    grid-column: 1;
}

/* Top Right */
body .background .bubble:nth-child(2) {
    grid-column: 3;
    animation-delay: 6s;
}

/* Center */
body .background .center {
    grid-column: 2;
    animation-delay: 4s;
}

/* Bottom Left */
body .background .bubble:nth-child(4) {
    grid-column: 1;
    animation-delay: 8s;
}

/* Bottom Right */
body .background .bubble:nth-child(5) {
    grid-column: 3;
}

body .background .bubble2 {
    animation-delay: 2s;
}

body .background .bubble3 {
    animation-delay: 12s;
}

@keyframes blobMorph {

    /* 0% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    }

    15% {
        border-radius: 70% 30% 90% 20% / 50% 30% 40% 50%;
    }

    30% {
        border-radius: 40% 60% 20% 90% / 60% 50% 90% 20%;
    }

    45% {
        border-radius: 70% 30% 50% 50% / 50% 70% 30% 50%;
    }

    60% {
        border-radius: 50% 50% 60% 40% / 40% 50% 60% 50%;
    }

    75% {
        border-radius: 55% 45% 65% 35% / 60% 40% 55% 45%;
    }

    100% {
        border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
    } */
}

@keyframes blobFloat {
    0% {
        transform: translate(0, 0) scale(1);
    }

    20% {
        transform: translate(-50%, -30%) scale(1.2, 0.5) rotate(30deg);
        /* wide horizontal, flat vertical */
    }

    40% {
        transform: translate(50%, -50%) scale(0.8, 1.2) rotate(80deg);
    }

    60% {
        transform: translate(-70%, 50%) scale(1.3, 0.4) rotate(-10deg);
        /* extreme pancake */
    }

    80% {
        transform: translate(30%, -30%) scale(0.9, 1.1) rotate(-90deg);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}