body .background {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-image: url(../IMGs/BG2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body .bubbles-BG {
    position: fixed;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 20px;
    z-index: 3;
}

body .bubbles-BG .bubble {
    width: 30vh;
    height: 30vh;
    border-radius: 50%;
    animation: blobFloat 22s infinite ease-in-out;
    z-index: 5;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    align-self: center;
    justify-self: center;
}

body .bubbles-BG .bubble:nth-child(1) {
    grid-column: 1;
}

/* Top Right */
body .bubbles-BG .bubble:nth-child(2) {
    grid-column: 3;
    animation-delay: 6s;
}

/* Center */
body .bubbles-BG .center {
    grid-column: 2;
    animation-delay: 4s;
}

/* Bottom Left */
body .bubbles-BG .bubble:nth-child(4) {
    grid-column: 1;
    animation-delay: 8s;
}

/* Bottom Right */
body .bubbles-BG .bubble:nth-child(5) {
    grid-column: 3;
}

body .bubbles-BG .bubble2 {
    animation-delay: 2s;
}

body .bubbles-BG .bubble3 {
    animation-delay: 12s;
}

@keyframes blobFloat {
    0% {
        transform: translate(0, 0) scale(1);
    }

    20% {
        transform: translate(-50%, -30%) scale(1.2, 0.5) rotate(30deg);
        /* wide horizontal, flat vertical */
    }

    40% {
        transform: translate(50%, -50%) scale(0.8, 1.2) rotate(80deg);
    }

    60% {
        transform: translate(-70%, 50%) scale(1.3, 0.4) rotate(-10deg);
        /* extreme pancake */
    }

    80% {
        transform: translate(30%, -30%) scale(0.9, 1.1) rotate(-90deg);
    }

    100% {
        transform: translate(0, 0) scale(1);
    }
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}