* {
    border: none;
    padding: 0;
    line-height: 1;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    forced-color-adjust: none;
}

html {
    -webkit-text-size-adjust: 100%;
    forced-color-adjust: none;
}

:root {
    color-scheme: light;
}


.federo-regular {
    font-family: "Federo", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.glass {
    background: #ffffff21 !important;
    -webkit-backdrop-filter: blur(10px) brightness(1.2);
    backdrop-filter: blur(10px) brightness(1.2);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.35),
        0 12px 30px rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.18);
    forced-color-adjust: none;
    color-scheme: light;
}

.glass::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(120deg,
            #ffffff54,
            transparent 40%) !important;
    pointer-events: none;
    forced-color-adjust: none;
    color-scheme: light;
}

.dark-glass {
    background: linear-gradient(135deg,
            rgba(20, 20, 25, 0.65),
            rgba(10, 10, 15, 0.35));
    backdrop-filter: blur(16px) saturate(130%);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.65),
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.purple-glass {
    background: linear-gradient(135deg,
            rgba(120, 60, 255, 0.35),
            rgba(40, 10, 90, 0.25));

    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);

    border: 1px solid rgba(180, 120, 255, 0.35);
    border-radius: 20px;

    box-shadow:
        0 10px 40px rgba(120, 40, 255, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.18);

    box-shadow:
        0 0 15px #8b3cff,
        0 0 40px rgba(139, 60, 255, 0.6);

    color: white;
}

.bg {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    inset: 0;
}
h2 {
    font-size: 4rem
}

p {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}