/* Phones */
@media (max-width: 605px) {
    .about-skill {
        gap: 1rem;
    }
}

@media (max-width: 640px) {
    h2 {
        font-size: 1.8rem ;
    }

    .hero .info {
        max-width: 75%;
        padding: 5% 5% 5% 10%;
        height: 35%;
    }

    .hero .info h2 {
        height: 15%;
        font-size: 1.3rem;
    }

    #contact {
        height: 95vh;
    }

    body .background {
        background-position: bottom;
    }
}

@media screen and (max-width: 640px) and (max-height: 700px) {
    h2 {
        font-size: 1.4rem !important;
    }

    .hero .info {
        max-width: 75%;
        padding: 5% 5% 5% 15%;
        height: 50%;
    }

    .hero .info h2 {
        height: 15%;
        font-size: 1.4rem;
    }

    #contact {
        height: 120vh;
    }
}

@media (min-width: 640px) {
    .hero .info {
        max-width: 70%;
        height: 45%;
    }

    body .background {
        background-position: right;
    }

    .blob-icon {
        font-size: 6rem;
    }
}

/* Tablets */
@media (min-width: 768px) {
    .hero .info {
        max-width: 50%;
        height: 55%;
    }

    .morph-blob {
        width: 50%;
    }

    #contact-form {
        width: 50%;
        padding: 2rem 2rem;
    }

    .header-wrapper {
        padding: 2rem 5% 1rem 5% !important;
    }

    header .header-left {
        gap: 3vw;
    }


    header .header-left .menu-btn {
        display: none;
    }

    header nav {
        display: block;
        width: fit-content;
    }

    header nav ul {
        display: flex;
        gap: 3dvw;
        list-style-type: none;
    }

    header nav ul li a {
        text-decoration: none;
        color: white;
        font-size: clamp(0.6rem, calc(0.6rem + 1dvw), 0.95rem);
        font-weight: 900;
        transition: color 0.2s;
    }

    header nav ul li:hover a {
        color: #C084FF;
    }

    .nav2 {
        opacity: 0 !important;
        z-index: -1 !important;
    }

    p {
        font-size: 1.2rem;
    }

    .footer-bottom p {
        font-size: 1.2rem;
    }

    .footer-about p {
        font-size: 1.2rem;
    }

}

/* Small laptops */
@media (min-width: 890px) {
    .about-skill {
        aspect-ratio: 0;
    }

    .morph-blob {
        width: 40%;
    }
}

@media (min-width: 1024px) {
    .hero .info {
        max-width: 50%;
        height: 50%;
    }
}

/* Desktops */
@media (min-width: 1280px) {
    .morph-blob {
        width: 30%;
    }

    .blob-icon {
        font-size: 7rem;
    }

    #contact {
        height: 100vh;
    }


}

/* Large screens */
@media (min-width: 1536px) {
    .hero .info {
        max-width: 50%;
        height: 60%;
    }

}