/* Phones */
@media (max-width: 605px) {
        .about-skill{
            gap: 1rem;
        }
}
@media (max-width: 640px) {
    h2{
        font-size: 2.5rem;
    }
    .hero .info {
        max-width: 75%;
        padding: 5% 5% 5% 10%;
        height: 45%;
    }

    .hero .info h2 {
        height: 40%;
    }

    body .background {
        background-position: bottom;
    }
}

@media screen and (max-width: 640px) and (max-height: 700px) {
    .hero .info {
        max-width: 75%;
        padding: 5% 5% 5% 15%;
        height: 55%;
    }
    .skills-bubbles{
        width: 110%;
        gap: 2.5rem 0rem;
    }
}

@media (min-width: 640px) {
    .hero .info {
        max-width: 70%;
        height: 45%;
    }

    body .background {
        background-position: right;
    }
}

/* Tablets */
@media (min-width: 768px) {
    .hero .info {
        max-width: 50%;
        height: 55%;
    }
}

/* Small laptops */
@media (min-width: 890px) {
    .about-skill{
        aspect-ratio: 0;
    }
}
@media (min-width: 1024px) {
    .hero .info {
        max-width: 50%;
        height: 60%;
    }

    #PFP {
        left: 0;
    }
    .skills-bubbles{
        width: 80%;
        gap: 2.5rem 4rem;
    }
    
}

/* Desktops */
@media (min-width: 1280px) {}

/* Large screens */
@media (min-width: 1536px) {
    .hero .info {
        max-width: 50%;
        height: 60%;
    }
}