* {
    border: none;
    padding: 0;
    line-height: 1;
    margin: 0;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    forced-color-adjust: none;
}

html {
    -webkit-text-size-adjust: 100%;
    forced-color-adjust: none;
}

:root {
    color-scheme: light;
}


.federo-regular {
    font-family: "Federo", sans-serif;
    font-weight: 900;
    font-style: normal;
}

.glass {
    background: #ffffff21 !important;
    -webkit-backdrop-filter: blur(10px) brightness(1.2);
    backdrop-filter: blur(10px) brightness(1.2);
    box-shadow:
        inset 0 1px 0 rgba(255, 255, 255, 0.35),
        0 12px 30px rgba(0, 0, 0, 0.45);
    border: 1px solid rgba(255, 255, 255, 0.18);
    forced-color-adjust: none;
    color-scheme: light;
}

.glass::after {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: inherit;
    background: linear-gradient(120deg,
            #ffffff54,
            transparent 40%) !important;
    pointer-events: none;
    forced-color-adjust: none;
    color-scheme: light;
}

.dark-glass {
    background: linear-gradient(135deg,
            rgba(20, 20, 25, 0.65),
            rgba(10, 10, 15, 0.35));
    backdrop-filter: blur(16px) saturate(130%);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 20px;
    box-shadow:
        0 10px 40px rgba(0, 0, 0, 0.65),
        inset 0 1px 0 rgba(255, 255, 255, 0.1),
        inset 0 -1px 0 rgba(0, 0, 0, 0.6);
}

.purple-glass {
    background: linear-gradient(135deg,
            rgba(120, 60, 255, 0.35),
            rgba(40, 10, 90, 0.25));

    backdrop-filter: blur(18px) saturate(140%);
    -webkit-backdrop-filter: blur(18px) saturate(140%);

    border: 1px solid rgba(180, 120, 255, 0.35);
    border-radius: 20px;

    box-shadow:
        0 10px 40px rgba(120, 40, 255, 0.45),
        inset 0 1px 0 rgba(255, 255, 255, 0.18);

    box-shadow:
        0 0 15px #8b3cff,
        0 0 40px rgba(139, 60, 255, 0.6);

    color: white;
}



body {
    min-height: 100vh;
    position: relative;
    background-color: black;
}

h2 {
    font-size: 1.8rem
}

p {
    font-size: 1rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    position: fixed;
    top: -1rem;
    left: -5%;
    width: 110%;
    z-index: 50;
}

header nav {
    width: 80%;
    padding: 2rem 10% 1rem 10%;
    color: white;
    background-color: rgba(255, 255, 255, 0.068);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav ul {
    display: flex;
    gap: 3dvw;
    list-style-type: none;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: clamp(0.6rem, calc(0.6rem + 1dvw), 0.95rem);
    font-weight: 900;
    transition: color 0.2s;
}

header nav ul li:hover a {
    color: turquoise;
}

header h1 span {
    color: #C084FF;
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow-x: hidden;
}

.hero .info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-evenly;
    color: white;
    padding: 5% 5%;
    margin-right: -2%;
    border-radius: 50% 0 0 50%;
    margin-top: 4.5rem;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.479), inset 0 0 5px rgba(255, 255, 255, 0.322);
    z-index: 5;
    height: 60%;
}

.hero .info h2 {
    font-size: clamp(1.7rem, calc(2.5rem + 2dvw), 8rem);
    text-align: right;
    width: auto;
    height: 25%;
}

.cursor {
    display: inline-block;
    margin-left: 2px;
    color: #C084FF;
    animation: blink 0.7s infinite;
    padding: 0;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    51%,
    100% {
        opacity: 0;
    }
}

.hero .info p {
    color: rgb(177, 177, 177);
    text-align: end;
    font-size: clamp(0.7rem, (1rem + 0.5dvw), 3rem);
}

#PFP {
    height: 90%;
    position: absolute;
    bottom: 0;
    left: -120px;
    z-index: 1;
}


@keyframes typing {
    to {
        width: 21ch;
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
}

#about {
    height: 100vh;
    /* height: auto; */
    color: #C084FF;
    position: relative;
}

.about-BG {
    position: absolute;
    z-index: 1;
    /* height: 100%;
    width: 100%; */
    background: radial-gradient(circle at top left, #6a00ff33, transparent 60%),
        radial-gradient(circle at bottom right, #b100ff44, transparent 60%),
        #05000a;
    top: 0;
    left: 0;
    inset: 0;
}

.about-card {
    border-radius: 20px;
    padding: 40px;
    color: white;
}

.about-content {
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    min-height: 100%;
    width: 84%;
    height: auto;
    padding: 0 8%;
    left: 0;
    top: 0;
}
.about-content p{
    line-height: 1.5;
}
.about-skill{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    aspect-ratio: 1/1;
    width: 100%;
}
.about-skill-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem;
    width: 200px;
    aspect-ratio: 1/1;
    justify-self: center;
    align-self: center;
    border-radius: 20px;
}
.about-skill-card img{
    width: 80px;
}
.about-skill-card h3{
    text-align: center;
}